<!DOCTYPE html>
<html lang="en">
  <head>
  <% include ../../static/partials/head.ejs %>
  </head>
  <body>

      <!-- Navigation -->
      <% include ../../static/partials/navbar.ejs %>
      <h2>Choose your music performer for hire!</h2>
<a href="/acousticguitar">Acoustic Guitar</a>
<a href="/piano">Piano</a>
<a href="/drum">Drums</a>
<a href="/trumpet">Trumpet</a>
<a href="/flute">Flute</a>
<a href="/harp">Harp</a>

       <% include ../../static/partials/baseScripts.ejs %>
    </body>
</html>
