<!DOCTYPE html>
<html lang="en">
  <head>
  <% include ../../static/partials/head.ejs %>
  </head>
  <body>

      <!-- Navigation -->
      <% include ../../static/partials/navbar.ejs %>
      <h2>Choose your drag performer for hire!</h2>
<a href="/blairback">Blair Back</a>
<a href="/victoriaprecise">Victoria Precise</a>
<a href="/pinkysocrates">Pinky Socrates</a>
<a href="/valkyrie">Valkyrie Hail</a>
<a href="/andramada">Andramada</a>
<a href="/showponii">Show Ponii</a>

       <% include ../../static/partials/baseScripts.ejs %>
    </body>
</html>
