<!DOCTYPE html>
<html lang="en">
  <head>
  <% include ../../static/partials/head.ejs %>
  </head>
  <body>

      <!-- Navigation -->
      <% include ../../static/partials/navbar.ejs %>
      <h2>Choose your circus performer for hire!</h2>
<a href="/sirgotheswordswallower">Sirgo the Sword Swallower</a>
<a href="/pinkytheclown">Pinky the Clown</a>
<a href="/cathythecatwoman">Cathy the Catwoman</a>
<a href="/borisbalancebodyboard">Boris Balance Body Board</a>
<a href="/touchtara">Tough Tara</a>
<a href="/maximillion">Maximillion</a>

       <% include ../../static/partials/baseScripts.ejs %>
    </body>
</html>
