<!DOCTYPE html>
<html lang="en">
  <head>
  <% include ../../static/partials/head.ejs %>
  </head>
  <body>

      <!-- Navigation -->
      <% include ../../static/partials/navbar.ejs %>
      <h2>Choose your comedy performer for hire!</h2>
<a href="/frank">Frank</a>
<a href="/deandra">Deandra</a>
<a href="/charlie">Charlie</a>
<a href="/mac">Mac</a>
<a href="/dennis">Dennis</a>
<a href="/cricket">Cricket</a>

       <% include ../../static/partials/baseScripts.ejs %>
    </body>
</html>
