<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../static/partials/head.ejs %>
</head>

<body style="background-color:#0066AD">
  <main>

    <% include ../static/partials/navbar.ejs %>

      <p> "About Us"</p>
  </main>
</body>

</html>
