<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../static/partials/head.ejs %>
</head>

<body style="background-color:#0066AD">
  <main>

    <% include ../static/partials/navbar.ejs %>

  </main>

  <div class="container">
    <div class="row">

      <div>
        <img src="images/bridgette.jpg" alt="" class="img-rounded" width=200 height=300>
        <center>
          <p style="color:white">Bridgette Valtimere</p>
        </center>
        <small><cite title="Source Title" style="color:white">Rumham, PA  <i class="icon-map-marker"></i></cite></small>
      </div>

      <br>

      <div>
        <img src="images/classu.jpg" alt="" class="img-rounded" width=200 height=300>
        <center>
          <p style="color:white">Classu the Clown</p>
        </center>
        <small><cite title="Source Title" style="color:white">Dairy, ME  <i class="icon-map-marker"></i></cite></small>
      </div>

      <br>

      <div>
        <img src="images/sirgo.jpg" alt="" class="img-rounded" width=200 height=300>
        <center>
          <p style="color:white">Sirgo the Sword Swallower</p>
        </center>
        <small><cite title="Source Title" style="color:white">Habada, AZ  <i class="icon-map-marker"></i></cite></small>
      </div>

      <br>

      <div>
        <img src="images/andramada.jpg" alt="" class="img-rounded" width=200 height=300>
        <center>
          <p style="color:white">Andramada</p>
        </center>
        <small><cite title="Source Title" style="color:white">Newbu, NY  <i class="icon-map-marker"></i></cite></small>
      </div>

      <br>

      <div>
        <img src="images/abelsi.jpg" alt="" class="img-rounded" width=200 height=300>
        <center>
          <p style="color:white">Abelsi</p>
        </center>
        <small><cite title="Source Title" style="color:white">New Yo, NY  <i class="icon-map-marker"></i></cite></small>
      </div>

      <br>

      <div>
        <img src="images/katarinamirage.jpg" alt="" class="img-rounded" width=200 height=300>
        <center>
          <p style="color:white">Katarina Mirage</p>
        </center>
        <small><cite title="Source Title" style="color:white">New Paz, NY <i class="icon-map-marker"></i></cite></small>
      </div>

      <br>

      <div>
        <img src="images/blairback.jpg" alt="" class="img-rounded" width=200 height=300>
        <center>
          <p style="color:white">Blair Back</p>
        </center>
        <small><cite title="Source Title" style="color:white">Wappins, NY  <i class="icon-map-marker"></i></cite></small>
      </div>

      <br>

      <div>
        <img src="images/venus.jpg" alt="" class="img-rounded" width=200 height=300>
        <center>
          <p style="color:white">Venus Fantasie</p>
        </center>
        <small><cite title="Source Title" style="color:white">Hopewe, NY <i class="icon-map-marker"></i></cite></small>
      </div>

      <br>

      <div>
        <img src="images/victoriaprecise.jpg" alt="" class="img-rounded" width=200 height=300>
        <center>
          <p style="color:white">Victoria Precise</p>
        </center>
        <small><cite title="Source Title" style="color:white">New Paz, NY  <i class="icon-map-marker"></i></cite></small>
      </div>

      <br>

      <div>
        <img src="images/maggie.jpg" alt="" class="img-rounded" width=200 height=300>
        <center>
          <p style="color:white">Maggie Magma</p>
        </center>
        <small><cite title="Source Title" style="color:white">Kokomo, CA  <i class="icon-map-marker"></i></cite></small>
      </div>

      <br>

      <div>
        <img src="images/kat.jpg" alt="" class="img-rounded" width=200 height=300>
        <p style="color:white">Kat Grande</p>
        <small><cite title="Source Title" style="color:white">Sweet, IA  <i class="icon-map-marker"></i></cite></small>
      </div>

      <br>

      <div>
        <img src="images/vic.jpg" alt="" class="img-rounded" width=200 height=300>
        <center>
          <p style="color:white">Vic Balance</p>
        </center>
        <small><cite title="Source Title" style="color:white">Bon Temps, Louis <i class="icon-map-marker"></i></cite></small>
      </div>

      <br>

      <div>
        <img src="images/guntilta.jpg" alt="" class="img-rounded" width=200 height=300>
        <center>
          <p style="color:white">Guntilta</p>
        </center>
        <small><cite title="Source Title" style="color:white">Chicago, Illin  <i class="icon-map-marker"></i></cite></small>
      </div>

      <br>

      <div>
        <img src="images/ven.jpg" alt="" class="img-rounded" width=200 height=300>
        <center>
          <p style="color:white">Ven Viola</p>
        </center>
        <small><cite title="Source Title" style="color:white">Pensi, Florida  <i class="icon-map-marker"></i></cite></small>
      </div>

      <br>

      <div>
        <img src="images/black.jpg" alt="" class="img-rounded" width=200 height=300>
        <center>
          <p style="color:white">Blaire Black</p>
        </center>
        <small><cite title="Source Title" style="color:white">Province, Massac  <i class="icon-map-marker"></i></cite></small>
      </div>
    </div>
  </div>
</body>

</html>
