<!DOCTYPE html>
<html lang="en">
  <head>
  <% include ../../static/partials/head.ejs %>
  </head>
  <body>

      <!-- Navigation -->
      <% include ../../static/partials/navbar.ejs %>
      <h2>Choose your magic performer for hire!</h2>
<a href="/leolanguistics">Leo Languistics</a>
<a href="/obraobject">Obra Object</a>
<a href="/maggiemagic">Maggie Magic</a>
<a href="/patiencepatho">Patience Patho</a>
<a href="/smite">Smithy Smite</a>
<a href="/looneylounsbury">Looney Lounsbury</a>

       <% include ../../static/partials/baseScripts.ejs %>
    </body>
</html>
