<!DOCTYPE html>
<html lang="en">
  <head>
  <% include ../../static/partials/head.ejs %>
  </head>
  <body>

      <!-- Navigation -->
      <% include ../../static/partials/navbar.ejs %>
      <h2>Choose your dance performer for hire!</h2>
<a href="/bella">Bella</a>
<a href="/clarissa">Clarissa</a>
<a href="/mishi">Mishi</a>
<a href="/bianca">Bianca</a>
<a href="/smole">Smole</a>
<a href="/diamond">Diamond</a>

       <% include ../../static/partials/baseScripts.ejs %>
    </body>
</html>
