<!DOCTYPE html>
<html lang="en">
  <head>
  <% include ../static/partials/head.ejs %>
  </head>
  <body>

      <!-- Navigation -->
      <% include ../static/partials/navbar.ejs %>
      <h2>What is your Dance talent?</h2>
<a href="/dance">Dance</a>
<a href="/dance">Dance</a>
<a href="/dance">Dance</a>
<a href="/dance">Dance</a>
<a href="/dance">Dance</a>
<a href="/dance">Dance</a>

       <% include ../static/partials/baseScripts.ejs %>
    </body>
</html>
