<!DOCTYPE html>
<html>

<head>
  <% include ../static/partials/head.ejs %>
</head>

<body>

  <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <% if(user == true){ %>
        <%  user.email %>
          <% } %>

            <h2>Latest Entertainers</h2>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

</body>

</html>
