<!DOCTYPE html>
<html>

<head>
  <% include ../static/partials/head.ejs %>
</head>

<body style="background-color:#0066AD">

  <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <h1>Sign up</h1>

      <form action="/users" method="post">

        <div class="form-group">
          <label for="text">First Name</label>
          <input type="text" class="form-control" name="firstName" aria-describedby="textHelp" placeholder="Enter text">
          <small class="text-muted" id="textHelp">please write your full legal first name</small>
        </div>

        <div class="form-group">
          <label for="text">Last Name</label>
          <input type="text" class="form-control" name="lastName" aria-describedby="textHelp" placeholder="Enter text">
          <small class="text-muted" id="textHelp">please write your full legal last name</small>
        </div>

        <label for="text">Talent</label>
        <select name="talent">
            <option value="Circus">Circus</option>
            <option value="Comedy">Comedy</option>
            <option value="Dance">Dance</option>
            <option value="Drag">Drag</option>
            <option value="Magic">Magic</option>
            <option value="Music">Music</option>
          </select>
        <small class="text-muted" id="textHelp">please choose your talent</small>

        <div class="form-group">
          <label for="text">Stage Name</label>
          <input type="text" class="form-control" name="stageName" aria-describedby="textHelp" placeholder="Enter text">
          <small class="text-muted" id="textHelp">please write your full stage name</small>
        </div>

        <div class="form-group">
          <label for="text">Location</label>
          <input type="text" class="form-control" name="location" aria-describedby="textHelp" placeholder="Enter text">
          <small class="text-muted" id="textHelp">Where abouts do you reside?</small>
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter email">
          <small class="text-muted" id="emailHelp">email address must be a valid address</small>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" aria-describedby="passwordHelp" placeholder="Enter password">
          <small class="text-muted" id="passwordHelp">password must match confirmation below</small>
        </div>

        <div class="form-group">
          <label for="passwordConfirmation">Password confirmation</label>
          <input type="password" class="form-control" name="passwordConfirmation" aria-describedby="passwordHelp" placeholder="Enter password confirmation">
        </div>

        <button type="submit" class="btn btn-primary ">Sign up</button>
      </form>
    </main>

    <% include ../static/partials/baseScripts.ejs %>

</body>

</html>
